body {
	font-family: 'Baloo Bhai', cursive;
	background-image: url("../img/flag.png");
	margin: 0 40px;
	height: 100%;
  color: #424141;
} 

header {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 40px;
	margin: 0 auto;
}

main {
	margin: 40px 0;
}

img {
	width: 110px;
	height: 150px;
}

ul li {
	list-style-type: none;
}

p {
  display:  ;
  background: rgba(0,0,0, 0.7);
  border-radius: 6px;
  border: 1px solid #1c726e;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  margin: 0;
}

button {
	height: 40px;
	width: 200px;
	font-size: 14px;
	font-weight: bold;
	background: #f0c911;
	color: #c92200;
	border: 1px solid #e65f44;
	border-radius: 40px;
	cursor: pointer;
	text-shadow: 0px 1px 0px #ded17c;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
	background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
	background-color:#f2ab1e;
}

button:disabled {
  background: #dddddd;
  border: 1px solid #aaaaaa;
  color: #aaaaaa;	
  cursor: default;
}

button:active {
	position:relative;
	top:1px;
}

#maki {
	width: 200px;
	height: 200px;
	margin: 20px;
}

.maki-animation {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

#showCounter {
	font-size: 30px;
}

.counter {
	align-self: center;
}

.lists {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	background-color: rgba(117, 249, 234, 0.7);
	border-radius: 6px;
	border: 1px solid #1c726e;
	width: 100%;
}

.upgrade-list {
	margin-top: 60px;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }
}


@-moz-keyframes "pulse2" {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
}


@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.grid img {
	justify-self: center;
}

.grid div {
	justify-self: center;
}

.upgrades {
  margin-top: 80px;
}

.upgrades .grid {
	grid-template-columns: repeat(5, auto);
}
/*
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
}
*/



